[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
alembic = "*"
sqlalchemy = "*"
pydantic = "*"
requests = "*"
pydantic-settings = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
asyncio = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
