[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
alembic = "*"
sqlalchemy = "*"
requests = "*"
pydantic-settings = "*"
asyncio = "*"
httpx = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
bcrypt = "*"
gunicorn = "*"
motor = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
python-dotenv = "*"
pylint = "*"
pylint-pydantic = "*"
motor-types = "*"

[requires]
python_version = "3.11"
